
@{
    ViewBag.Title = "UsersMasterPage";
}

<h2>UsersMasterPage</h2>

@{
    var listItems = new List<System.Web.UI.WebControls.ListItem>
        {
              new System.Web.UI.WebControls.ListItem { Text = "Current Month", Value = "0" },
              new System.Web.UI.WebControls.ListItem { Text = "ITEM 2", Value = "1" },
              new System.Web.UI.WebControls.ListItem { Text = "ITEM 3", Value = "2" }
        };
}
@Html.DropDownList("KPIs", new SelectList(listItems, "Value", "Text"), new { onchange = "getAlldata()" })
<h5>
<form>
<h5>
Number of sla:       <input type="text" name="kpi1"><br>
</h5>
<h5>
Total number of sla: <input type="text" name="kpi2">
</h5>


</form>
</h5>
<hr />
<div class="form-actions no-color">
    <input type="submit" value="Submit" class="btn" />
</div>