@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Welcome to KPI Metrics System</h2>
    <p class="lead">Please log in to continue</p>
    <p><a href="http://localhost:26755/Account/Login" class="btn btn-primary btn-group-vertical">Log in &raquo;</a></p>
</div>
